/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/rnafusion Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    cpus   = { check_max( 16, 'cpus'   ) }
    memory = { check_max( 64.GB, 'memory' ) }
    time   = { check_max( 168.h, 'time'   ) }
    queue = 'mediumq'

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    withLabel:process_low {
        cpus   = { check_max( 8, 'cpus'   ) }
    	memory = { check_max( 32.GB, 'memory' ) }
        time   = { check_max( 6.h, 'time') }
	queue = 'shortq'
    }
    withLabel:process_medium {
        cpus   = { check_max( 16, 'cpus'   ) }
	memory = { check_max( 64.GB, 'memory' ) }
        time   = { check_max( 24.h, 'time') }
        queue = 'mediumq'	
    }
    withLabel:process_high {
        cpus   = { check_max( 16, 'cpus'   ) }
	memory = { check_max( 128.GB, 'memory' ) }
        time   = { check_max( 168.h, 'time') }
        queue = 'longq'	
    }
    withLabel:process_long {
        cpus   = { check_max( 16, 'cpus'   ) }
	memory = { check_max( 64.GB, 'memory' ) }
        time   = { check_max( 168.h, 'time') }
	queue = 'longq'
    }
    withLabel:process_verylong {
        cpus   = { check_max( 16, 'cpus'   ) }
	memory = { check_max( 64.GB, 'memory' ) }
        time   = { check_max( 1440.h, 'time') }
	queue = 'verylongq'
    }
}
